{% extends "base.html" %}
{% block title %}Кабинет{% endblock title %}
{% block header %}Кабинет{% endblock header %}
{% block content %}
    <a href="{% url 'new_task' %}">Новое задание</a>
    <a href="{% url 'logout' %}">Выйти</a>
    <ul>
      {% for article in object_list %}
      <li>
          <p>От кого: {{ article.user_from }} Кому: {{ article.user_to }}</p>
          <p>Маршрут: {{ article.menu_point.full_path_str }}</p>
          <p>Описание: {{ article.description }}</p>
          <p>Дата создания: {{ article.date_create }}</p>
          <p>Статус: {{ article.get_current_status_display }}</p>

          <p>
          <a href="{% url 'delete' article.id %}">Удалить</a>
          <a href="{% url 'update' article.id %}">Изменить статус</a>
          </p>
      </li>
        {% empty %}
      <li>No articles yet.</li>
        {% endfor %}
    </ul>
{% endblock content %}